<div id="displayCollections" ></div>
<span class="appstle_stand_alone_price_display_selector" data-product-data="{{ product | json | escape }}" style="display:none;"></span>

{% schema %}
{
  "name": "BuildBox",
  "target": "section",
  "stylesheet": "main.css",
  "javascript": "main.js",
  "settings": []
}
{% endschema %}